/* Establishing variables used throughout similarly styled items */
:root {
    --sunset: rgb(172, 129, 50, 5);
    --darkTeal: rgb(6, 55, 61);
    --lightTeal: rgb(56, 177, 177);
    --lighterTeal: rgb(109, 175, 175);
    --tealGradient: linear-gradient(to top, var(--lighterTeal), var(--lightTeal), var(--darkTeal));
}

/* Makes all elements predictably sized, across multiple browsers */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

/* Header */
header {
    /* Aesthetic~ */
    background-color: var(--darkTeal);
    min-height: 65px;
    /* Positioning */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


/* Aesthetic styling h1 in the header */
#headerName {
    /* Aesthetic~ */
    font-family: 'Oswald', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: var(--darkTeal);
    background: var(--tealGradient);
    border-bottom-right-radius: 20px;
    /* Positioning */
    flex-wrap: wrap;
    min-height: 60px;
    padding: 10px 10px 10px 40px;
    align-self: flex-start;
}

/* Positioning and styling unordered list of links */
nav ul {
    display: flex;
}

/* Styling links */
li a {
    /* Aesthetic~ */
    font-family: 'Oswald', Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--lightTeal);
    text-decoration: underline;
    text-decoration-color: var(--sunset);
    /* Positioning */
    display: inline-block;
    justify-self: space-around;
    margin-top: 5px;
    margin-right: 15px;
    border-bottom-color: var(--lightTeal);
}

/* Animation when hovering over the nav links */
li a:hover {
    border-radius: 5px;
    background: var(--tealGradient);
    color: var(--darkTeal);
    transform: translateY(-3px);
    transition: color 1s ease-out;
    cursor: help;
    text-decoration: none;
    
}

/* Changes color of the link when clicked. Satisfying! */
li a:active {
    color: var(--sunset);
    transition: linear;
    font-weight: bolder;
    text-shadow: 
        0 0 1px white,
        0 0 2px yellow,
        0 0 3px goldenrod;
}

/* This section encompasses the large image and subtitle within */
section {
    display: flex;
    flex-direction: column;
}

/* Image below the Header */
#headerImage {
    min-width: 100%;
    max-height: 320px;
    margin-bottom: 1.5rem;
    
}

/* Subtitle floating within the image above */
#subtitle {
    /* Aesthetic~ */
    background: transparent;
    color: var(--sunset);
    font-family: 'Lugrasimo', serif;
    font-size: 35px;
    transform: rotateX(5deg);
    opacity: 0.5;
    /* Positioning to center of photo */
    position: absolute;
    align-self: center;
    top: 220px;
}

/* Main section with Grid display, establishing columns here */
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;
}

/*Setting minimum dimensions of each gridItem */
.gridItem {
    min-height: 200px;
    
}

/* Styling section names in main similarly */
#aboutMe,
#work,
#contactMe {
    /* Aesthetic~ */
    color: var(--darkTeal);
    background-image: var(--tealGradient);
}

#aboutMeContent {
    grid-column: 2 / -1;
}

#work {
    grid-row: span 3;
}

#workItem1,
.bigImage {
    grid-column: 2 / -1;
}

#workItem2 {

}

#workItem3 {

}

#workItem4 {

}

#workItem5 {

}

/* Media Queries to make page responsive */

/* Tablets */
@media screen and (max-width: 992px) {
    body {
        
    }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
    body {
        display: block;
    }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
    body {
        display: block;
    }

    li a {
        font-size: 1rem;
    }
}