/* Establishing variables used throughout similarly styled items */
:root {
    /* Colors */
    --sunset: rgb(172, 129, 50, 5);
    --darkTeal: rgb(6, 55, 61);
    --lightTeal: rgb(56, 177, 177);
    --lighterTeal: rgb(109, 175, 175);
    --tealGradientRight: linear-gradient(to right, var(--lighterTeal), var(--lightTeal), var(--darkTeal));
    --tealGradientTop: linear-gradient(to top, var(--lighterTeal), var(--lightTeal), var(--darkTeal));
    --tealGradientLeft: linear-gradient(to left, var(--lighterTeal), var(--lightTeal), var(--darkTeal));
    /* Fonts */
    --oswald: 'Oswald', Impact, 'Arial Narrow Bold', sans-serif;
    --lugrasimo: 'Lugrasimo','Times New Roman', Times, serif;
}

/* Makes all elements predictably sized, across multiple browsers */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

/* Giving entire page a base background-color of --lighterTeal */
body {
    background-color: var(--lighterTeal);
}

/* Header */
header {
    /* Aesthetic~ */
    background-color: var(--darkTeal);
    min-height: 65px;
    /* Positioning */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


/* Aesthetic styling h1 in the header */
#headerName {
    /* Aesthetic~ */
    font-family: var(--oswald);
    font-size: 40px;
    color: var(--darkTeal);
    background: var(--tealGradientTop);
    border-bottom-right-radius: 20px;
    /* Positioning */
    flex-wrap: wrap;
    min-height: 60px;
    padding: 10px 10px 10px 40px;
    align-self: flex-start;
}

/* Positioning and styling unordered list of links */
nav ul {
    display: flex;
}

/* Styling links */
li a {
    /* Aesthetic~ */
    font-family: var(--oswald);
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--lightTeal);
    text-decoration: underline;
    text-decoration-color: var(--sunset);
    /* Positioning */
    display: inline-block;
    justify-self: space-around;
    margin-top: 5px;
    margin-right: 15px;
    border-bottom-color: var(--lightTeal);
}

/* Animation when hovering over the nav links */
li a:hover {
    border-radius: 5px;
    background: var(--tealGradientTop);
    color: var(--darkTeal);
    box-shadow: 0px 6px 10px var(--sunset);
    transform: translateY(-3px);
    transition: color 1s ease-out;
    cursor: help;
    text-decoration: none;
    
}

/* Changes color of the link when clicked. Satisfying! */
li a:active {
    color: var(--sunset);
    transition: linear;
    font-weight: bolder;
    text-shadow: 
        0 0 1px white,
        0 0 2px yellow,
        0 0 3px goldenrod;
}

/* This section encompasses the large image and subtitle within */
section {
    display: flex;
    flex-direction: column;
}

/* Image below the Header */
#headerImage {
    min-width: 100%;
    max-height: 320px;
    margin-bottom: 1.5rem;
    box-shadow: 0px 6px 10px var(--sunset);
    
    
}

/* Subtitle floating within the image above it */
#subtitle {
    /* Aesthetic~ */
    background: transparent;
    color: var(--sunset);
    font-family: var(--lugrasimo);
    font-size: 35px;
    transform: rotateX(5deg);
    opacity: 0.5;
    /* Positioning to center of photo */
    position: absolute;
    align-self: center;
    top: 220px;
}

/* END OF HEADER */

/* BEGINNING OF MAIN */

/* Main section with Grid display, establishing columns and rows here */
main {
    /* Aesthetic~ */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
    
}

/*Setting minimum dimensions of each gridItem */
.gridItem {
    min-height: 200px;
}

/* Styling each section header in main similarly and giving a right border to each */
#aboutMe,
#work {
    /* Aesthetic~ */
    border-right: 5px solid var(--darkTeal);
    border-radius: 5px 5px 5px 5px;
    font-family: var(--oswald);
    font-size: 25px;
    color: var(--darkTeal);
    background-color: transparent;
    /* Positioning */
    justify-self: end;
}

/* Positioning the "About Me" header */
#aboutMeHeader {
    padding-top: 3rem;
    padding-right: 1rem;
}

/* Setting size of text blocks across the grid */
#aboutMeContent {
    border-radius: 5px;
    background-color: transparent;
    /* background-color: var(--lighterTeal); */
    grid-column: 2 / -1;

}

/* Setting size of "Work" aside */
#work {
    grid-row: span 5;
}

/* Positioning the "Work" header */
#workHeader {
    padding-right: 1rem;
    padding-top: 3rem;
}

/* Setting aesthetics~ of all cards in "work" section */
.bigImage,
.smallImage {
    border: 5px solid var(--darkTeal);
}

/* Setting size of largest project card */
.bigImage {
    grid-column: 2 / -1;
    grid-row: 2 / 5;
}
/* Setting the size of the 4 smaller project cards */
.smallImage {
    grid-column: span 2;
}



/* Media Queries to make page responsive */

/* Tablets */
@media screen and (max-width: 992px) {
    body {
        
    }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
    body {
        display: block;
    }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
    body {
        display: block;
    }

    li a {
        font-size: 1rem;
    }
}